// Styling for the features section
section.features {
    p{
        line-height: 1.5em;
    }

    @media (min-width: 992px) {
        .bg-left-bleed:before {
            left: -2em;
            background: rgb(245, 245, 245);
            content: '';
            display: block;
            position: absolute;
            width: 20em;
            top: 0;
            bottom: 0;
            z-index: -1
        }
        .bg-right-bleed:before {
            right: -2em;
            background: rgb(245, 245, 245);
            content: '';
            display: block;
            position: absolute;
            width: 20em;
            top: 0;
            bottom: 0;
            z-index: -1
        }
    }


    .device-container {
        margin-bottom: 10px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }

    .feature-item {
        //padding-top: 20px;
        //padding-bottom: 20px;
        padding:30px;
        width:100%;
        text-align: center;
    }
    .card-image{
        width:50px;
    }
}
