// Styling for the download section
section.testimonial {
  .card{
    border: 2px solid $theme-primary !important;
    //border-color: $theme-primary;
    //border-width: 5px !important;
  }
  .card-image{
    border-radius: 5px;
    max-width: 150px;
  }
}
