// Styling for the features section
section.video {
    h3{
        font-weight: bold;
    }

    .device-container {
        margin-bottom: 10px;
        @media(min-width: 992px) {
            margin-bottom: 0;
        }
    }

    .feature-item {
        padding-top: 20px;
        padding-bottom: 20px;
        width:100%;
        text-align: center;
    }
    .card-image{
        width:50px;
    }
    .video-card{
        border-color: black;
        border-width: 10px;
        border-radius: 5px;
        width:100%;
        height:100%;
        min-height: 650px;
        background-color: $theme-tertiary;
        padding: 20px;
    }

    .equal {
        overflow: hidden;
    }

    .btn{
        margin-top:20px;
        margin-bottom: 20px;
    }
    .btn-xl{
        min-width: 280px;
    }
    .intro-video{
        height:100%;
        width:100%;
        object-fit:cover;
    }
    .video-curtain{
        height: 100%;
        width:50vw;
    }
    .curtain-left{
        height: 100%;
        position: absolute;
        z-index: 1;
        left:-67.5%;

    }
    .curtain{
        max-width: 90%;
        height: 100%;
    }
    .curtain-right{
        height: 100%;
        position: absolute;
        z-index: 1;
        left:100%;
        transform: scaleX(-1);

    }

    @media screen and (max-width: 1000px) {
        .curtain-right {
            display: none
        }
        .curtain-left {
            display: none
        }
    }
    .buttons button{
        @extend .btn;
        text-transform: uppercase !important;
        padding:10px;
        color:white;
        margin: 20px;
        //box-shadow: transparent;
    }
    .buttons .submit {
        display: none !important;
    }
    .videomail{
        min-width:640px;
        @media(max-width: 700px) {
            min-width:426px;
        }
        display: grid;
        align-content: center;
        justify-content: center;
    }
    .countdown{
        opacity: 1;
        color:black;
        text-shadow: 0 0 100px #fff;
    }
    .pausedHeader{
        opacity: 1;
        color:black;
        text-shadow: 0 0 100px #fff;
    }

}
